body {
  background: #000;
  height: 100vh;
}

.increment-btn {
  border: 2px solid #ffd7005e;
  background: #000;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 24px;
  outline: none;
  transition: border 0.3s ease, color 0.3s ease;
  font-family: 'Courgette', cursive;
  color: #ffd7005e;
  position: absolute;
}

.increment-btn-up {
  transform: translateY(-200px);
  transition: transform 0.5s ease-out;
}

.increment-btn:hover {
  color: #ffd700;
  border: 2px solid #ffd700;
}

.char-container {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.char-info {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  color: #ffd700;
}

@media (max-width: 700px) {
  .increment-btn {
    border: 2px solid #ffd700;
    padding: 10px 14px;
    font-size: 18px;
    color: #ffd700;
    width: 90%;
  }
  .char-container {
    font-size: 32px;
    padding: 0px 16px;
  }
  .char-info {
    font-size: 24px;
  }
}